<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="" />
    <script src=""></script>
</head>
<body>
    <h1> dicke and also <a href="/login">balls</a></h1>

    <form action="/register" method="POST">
        <input type="text" name="nome" placeholder="Nome" required="required">
        <input type="text" name="cognome" placeholder="Cognome" required="required">
        <input type="email" name="email" placeholder="Email" id="email" required="required">
        <input type="password" name="password" placeholder="Password" id="password" required="required">
    </form>
</body>
</html>