<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <form action="/registraUtente" method="post">
        <input type="text" name="name" id="name" placeholder="Mario">
    <input type="text" name="surname" id="surname" placeholder="Lombardi">
    <input type="email" name="email" id="email" placeholder="mario.lombardi@studenti.unicam.it">

    <input type="password" name="password" id="password" placeholder="Inserisci password">
    <input type="password" name="passwordConfirm" id="passwordConfirm" placeholder="Inserisci di nuovo la password">
<input type="submit" value="Invia">    
</form>  
</body>
</html>